<!DOCTYPE html>
<html>
<head>

    <meta charset="UTF-8">

    <title>SoccerLeague</title>

    <link rel="stylesheet" href="resources/css/bootstrap.min.css">

    <script src="resources/libs/angular-min.js"></script>

    <script src="resources/js/controller.js"></script>

</head>

<body>

<div ng-app="soccerLeague" ng-controller="controller">

    <div class="panel-heading" style="height: 7%">
        <h4>Players</h4>
    </div>
    <div class="panel-body" style="height: 90%">
        <table class="table table-bordered table-hover">
            <tr ng-repeat="p in players">
            <td>{{p}}</td>
            </tr>
        </table>
    </div>

    <div class="panel-heading" style="height: 7%">
        <h4>Teams</h4>
    </div>
    <div class="panel-body" style="height: 90%">
        <table class="table table-bordered table-hover">
            <tr ng-repeat="t in teams">
                <td>{{t}}</td>
            </tr>
        </table>
    </div>

    <div class="panel-heading" style="height: 7%">
        <h4>Standing</h4>
    </div>
    <div class="panel-body" style="height: 90%">
        <table class="table table-bordered table-hover">
            <tr ng-repeat="t in standing">
                <td>{{t}}</td>
            </tr>
        </table>
    </div>

    <div class="panel-heading" style="height: 7%">
        <h4>Add Match</h4>
    </div>
    <div class="panel-body" style="height: 90%">
        <textarea ng-model="matchResponse"></textarea>
    </div>


</div>

</body>

</html>