<!DOCTYPE html>
<html>
<head>

<meta charset="UTF-8">

<title>SoccerLeague</title>

<link rel="stylesheet" href="resources/css/bootstrap.min.css">

<script type="text/javascript" src="resources/libs/angular.min.js"></script>
<script type="text/javascript" src="resources/libs/angular-ui-router.js"></script>



<script type="text/javascript" src='resources/js/module.js'></script>

<script type="text/javascript" src='resources/js/mainController.js'></script>

<script type="text/javascript" src="resources/js/teamController.js"></script>

<script type="text/javascript" src="resources/js/factory.js"></script>

<script type="text/javascript" src="resources/js/router.js"></script>

</head>

<body>
	<div ng-app="soccerLeague" ng-controller="mainController">
	<nav class="navbar navbar-default">
	   <div class="navbar-header">
<uib-tabset>
    <uib-tab index="$index + 1" ng-repeat="tab in tabData" disable="tab.disabled" style="width:30%; height:100%;">
      <uib-tab-heading >
         <span class="label label-primary" ui-sref="{{tab.route}}">{{tab.heading}}</span>  
      </uib-tab-heading>
    </uib-tab>
</uib-tabset>
</div>
</nav>
	<div ui-view></div>
	</div>
</body>
</html>